<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Compiler</title>
    <link href="https://pagecdn.io/lib/codemirror/5.62.3/codemirror.css" rel="stylesheet">
    <link href="https://pagecdn.io/lib/codemirror/5.62.3/theme/darcula.min.css" rel="stylesheet">
    <script src="https://pagecdn.io/lib/codemirror/5.62.3/codemirror.js"></script>
    <script src="https://pagecdn.io/lib/codemirror/5.62.3/addon/edit/closebrackets.min.js"></script>
    <script src="https://pagecdn.io/lib/codemirror/5.62.3/addon/mode/simple.min.js"></script>
    <script src="https://unpkg.com/wast-loader@1.11.1/lib/index.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>

<body onload="init()">
    <div class="editors">
        <textarea id="input"></textarea>
        <button onclick="compile()">Compile</button>
        <button onclick="run()">Run</button>
        <textarea id="output" disabled></textarea>
        <textarea id="console" disabled></textarea>
    </div>
</body>

</html>