<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Compiler</title>
    <script>
        function compile() {
            let input = document.getElementById('input')
            let output = document.getElementById('output')
            let code = input.value
            fetch('/compile', {
                method: 'POST',
                body: code,
            }).then(
                (response) => response.text()
            ).then(
                (code) => output.value = code
            )
        }
    </script>
</head>

<body>
    <textarea id="input"></textarea><br>
    <button onclick="compile()">Compile</button><br>
    <textarea id="output"></textarea>
</body>

</html>