<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Compiler</title>
    <link href="https://pagecdn.io/lib/codemirror/5.61.0/codemirror.css" rel="stylesheet">
    <script src="https://pagecdn.io/lib/codemirror/5.61.0/codemirror.js"></script>
    <script src="https://unpkg.com/wast-loader@1.11.1/lib/index.js"></script>
</head>

<body>
    <textarea id="input" cols="50" rows="30" style="resize:none;"></textarea>
    <textarea id="output" cols="50" rows="30" disabled style="resize:none;"></textarea><br>
    <button onclick="compile()">Compile</button>
    <script>
        let input = CodeMirror.fromTextArea(document.getElementById('input'), {
            lineNumbers: true,
            lineWrapping: true
        });
        let output = CodeMirror.fromTextArea(document.getElementById('output'), {
            lineNumbers: true,
            lineWrapping: true,
            readOnly: true
        });
        input.setValue("def main() { write 11 }")
        function compile() {
            let code = input.getValue()
            fetch('/compile', {
                method: 'POST',
                body: code,
            }).then(
                (response) => response.text()
            ).then(
                (code) => output.setValue(code)
            )
        }

        function run() {
            let code = output.getValue()
            let importObject = {
                imports: {write: (arg) => console.log(arg)}
            }

            WebAssembly.instantiateStreaming(fetch('/run', {
                method: 'POST',
                body: code,
                response_type: 'application/wasm'
            }), importObject).then(obj => obj.instance.exports.main())
        }
    </script>
</body>

</html>